.homepage-hero-module{

}

.card-enquire{
  background-color: #FFFFFF;
  box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
  width: 339px;
  height: 492px;
}
.text-paediatric{
  color: #FFFFFF;
  font-family: Titillium;
  font-size: 31px !important;
  letter-spacing: 1.28px;
  line-height: 40px;
  width: 622px;
  text-align: left;
}

.card-img-top{
 width: 251px;
}

.card{
  width: 18rem;
}
.justify-content-center {
  align-items: center !important;
}